<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.store.dao.NewReviewDAO">
	<select id="selectNewReviewById" parameterType="int"
	resultType="com.quiz.store.model.NewReview">
		SELECT
			`id`
			, `storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
		FROM 
			`new_review`
		where
			`storeId` = #{id}
	</select>
</mapper>